[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3"

[packages]

minilog = { path = ".", editable = true }

[dev-packages]

# Linters
pylint = "~=1.7.5"
astroid = "~=1.5.3" # temporary to work around apparent regression in 1.6
pycodestyle = "*"
pydocstyle = "*"

# # Testing
pytest = "~= 3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-ordering = "*"
pytest-cov = "*"

# # Reports
"coverage.space" = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
pync = {version = "*", sys_platform = "== 'darwin'"}
MacFSEvents = {version = "*", sys_platform = "== 'darwin'"}
