[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3"

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=3.7.0"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-ordering = "*"
pytest-cov = "*"
pathlib2 = "*"  # missing dependency for Python 3.5

# Reports
coverage-space = "*"

# Documentation
mkdocs = "~=0.17.5"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
setuptools = ">=38.6.0"
twine = ">=1.11.0"

# Tooling
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
