mkdocs==1.2.3 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.9.0 ; python_version >= "3.8" and python_version < "4.0"
jinja2==3.0.1 ; python_version >= "3.8" and python_version < "4.0"
